// Main style

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 0.2rem;
}
button,
input[type="text"] {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 0.2rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.8rem;
}

@mixin flex($flex, $direction, $justify, $align) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

%btnArea {
  color: white;
  background-color: rgb(17, 27, 58);
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 2rem;
  cursor: pointer;
  width: 12rem;
  height: 8rem;
  @include flex(flex, column, center, center);
}

%btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2rem;
}

%borderRadius {
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
// Colors

//Colors controls
.colors {
  height: 85vh;
  @include flex(flex, row, stretch, stretch);
}
.color {
  padding-bottom: 10%;
  flex-grow: 1;
  @include flex(flex, column, center, center);
  position: relative;
  overflow: hidden;
  .color--header {
    cursor: pointer;
    margin: 15% 0;
  }
}
.color--controls {
  @include flex(flex, column, space-around, center);
  flex: 1 0 20%;
}

// .color--controls button{
// color: white;
// }

.controls--adjust,
.controls--lock {
  border: none;
  background-color: transparent;
  font-size: 3rem;
  cursor: pointer;
}
//Colors sliders
.sliders {
  background: white;
  position: relative;
  width: 90%;
  height: 35vh;
  @include flex(flex, column, space-around, center);
  @extend %borderRadius;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  &.active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
  .sliders--hue,
  .sliders--bright,
  .sliders--sat {
    width: 70%;
  }
}
.sliders--close {
  background-color: rgb(17, 27, 58);
  padding: 1.5rem;
  color: white;
  border: none;
  position: absolute;
  top: 5%;
  left: 5%;
  @extend %borderRadius;
  cursor: pointer;
}
//Panel
.panel {
  height: 15vh;
  @include flex(flex, row, space-around, center);
}
.panel--library,
.panel--refresh,
.panel--save {
  @extend %btnArea;
  font-weight: 600;
  pointer-events: all;
  button {
    margin-bottom: 1rem;
    pointer-events: none;
    @extend %btn;
  }
}

.save__submit {
  @extend %btnArea;
  font-weight: 600;
}

.save__close {
  background-color: rgb(17, 27, 58);
  padding: 1.5rem;
  color: white;
  border: none;
  position: absolute;
  @extend %borderRadius;
  cursor: pointer;
}

.fas {
  pointer-events: none;
}

input[type="range"] {
  appearance: none;
  border-radius: 1rem;
  cursor: pointer;
}

.copy__container,
.save__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  @include flex(flex, row, center, center);
  opacity: 0;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
.copy__container--popup,
.save__container--popup {
  min-width: 25%;
  min-height: 30%;
  background-color: white;
  @include flex(flex, column, center, center);
  @extend %borderRadius;
  transition: all 0.5s ease-in-out;
  transform: translateY(-2rem);
  .save__close {
    position: absolute;
    top: 5%;
    left: 5%;
  }
  .save__name,
  .save__submit {
    margin: 2rem 0;
    font-size: 2rem;
  }
  h2 {
    font-size: 3rem;
    margin: 2rem 0;
  }
  h3 {
    font-size: 4rem;
  }
  input[type="text"] {
    padding: 1rem 1rem;
    width: 60%;
  }
  &.active {
    transform: translateY(0rem);
    opacity: 1;
  }
}

.library__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  @include flex(flex, row, center, center);
  opacity: 0;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.library__container--popup {
  width: 40%;
  height: 35%;
  position: relative;
  background-color: white;
  @include flex(flex, column, center, flex-start);
  @extend %borderRadius;
  overflow-y: scroll;
  // transition: all 0.5s ease-in-out;
  // transform: translateY(-2rem);
  // opacity: 0;
  .library__close {
    background-color: rgb(17, 27, 58);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1.5rem 2rem;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    left: 2%;
    cursor: pointer;
    // pointer-events: all;
  }

  h2 {
    font-size: 3rem;
    margin: 2rem 0;
    align-self: center;
  }
  h3 {
    font-size: 4rem;
  }
  input[type="text"] {
    padding: 1rem 1rem;
    width: 60%;
  }
  // &.active {
  //   transform: translateY(0rem);
  //   opacity: 1;
  // }
}

.custom-palette {
  @include flex(flex, row, space-between, center);
  width: 80%;
  margin: 1.5rem auto;
  h4 {
    font-size: 2.2rem;
    margin: 0 1rem;
    flex: 1 1 20%;
  }
}
.pick-palette-btn,
.delete-palette-btn {
  height: 100%;
  margin: 0 1rem;
  font-size: 2rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  background-color: rgb(17, 27, 58);
  border: none;
  color: white;
  flex: 1 1 20%;
}
.pick-palette-btn {
  font-size: 2.5rem;
}
.small-preview {
  @include flex(flex, row, center, center);
  width: 20rem;
  height: 5rem;
  margin: 0 1rem;
  flex: 2 1 20%;
}

.preview-color {
  min-width: 4rem;
  height: 100%;
}

button i {
  color: white;
}